{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <link rel="stylesheet prefetch" href="https://preview.codepad.co/css/normalize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.4/utils/Draggable.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.4/TweenMax.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <title></title>

    <!-- Bootstrap core CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">

    <style>
        @import url(https://fonts.googleapis.com/css?family=Open+Sans);

        * {
          font-family: 'Open Sans', sans-serif;
        }

        body{ padding-top: 50px; }

        .table-wrapper{
          width: 500px;
          max-width: 70%;
          margin: 0 auto;
        }

        .music-row{ cursor: pointer; height: 30px; }
    </style>

    <script type="text/javascript">
        var channel_name = null;
        var nowplaying = null;
        var playlist = null;

        var channel_id = 'yui';
        var domain = '127.0.0.1:8080';

        function updateData(channel) {
            $.getJSON('http://' + domain + '/v1/radio/channelname/' + channel, function(data) {
                channel_name = data.payload;

                var dvTable = document.getElementById('channel_name');
                dvTable.innerHTML = '<center>' + channel_name + '</center>';
            });

            $.getJSON('http://' + domain + '/v1/radio/playqueue/nowplaying/' + channel, function(data) {
                nowplaying = data.payload;

                var dvTable = document.getElementById('nowplaying');
                dvTable.innerHTML = nowplaying["artist"] + ' - ' + nowplaying["title"];
            });

            $.getJSON('http://' + domain + '/v1/radio/playqueue?channel=' + channel + '&page=0&limit=30', function(data) {
                playlist = new Array();

                $.each(data.payload, function(i,item) {
                    playlist.push( item["artist"] + ' - ' + item["title"] );
                });

                UpdateTable('ui-sortable', playlist);
            });
        }

        function UpdateTable(id, data) {
            //Add the data rows.
            innerHTML = '';
            for (var i = 0; i < data.length; i++) {
                innerHTML += '<tr draggable="true" class="ui-sortable-handle music-row" aria-expanded="false"><td>' + data[i] + '</td></tr>';
            }

            var dvTable = document.getElementById(id);
            dvTable.innerHTML = innerHTML;
        }

        updateData(channel_id);

        $(document).ready(function(){
            setInterval(function(){
                updateData(channel_id);
            }, 3000);
        });
    </script>

  </head>

  <body>

    <div id="channel_name" class="panel-heading">
      <center>{{channel_name}}</center>
    </div>

    <div class="table-wrapper panel panel-default responsive-table">
      <div class="panel-heading">Now Playing</div>
      <table class="table_nowplaying">
        <tbody>
          <tr data-toggle="collapse" draggable="false" class="music-row" aria-expanded="false"> <!-- figure out jinja syntax to insert index # into "data-target" (above) ^^ and "id" (below) vv -->
            <td id="nowplaying">
<!--              {{nowplaying.artist}} - {{nowplaying.title}}-->
            </td>
          </tr>
        </tbody>
      </table>
      <br />
      <div class="panel-heading">Playlist</div>
      <table id="sortable">
        <tbody id="ui-sortable">
<!--          {% for music in playlist %}-->
<!--          <tr data-toggle="collapse" data-target="#collapse{{index}}" data-parent="#playList" draggable="true" class="ui-sortable-handle music-row" aria-expanded="false"> &lt;!&ndash; figure out jinja syntax to insert index # into "data-target" (above) ^^ and "id" (below) vv &ndash;&gt;-->
<!--            <td>{{music.artist}} - {{music.title}}</td>-->
<!--          </tr>-->
<!--          {% endfor %}-->
        </tbody>
      </table>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://static.codepen.io/assets/common/stopExecutionOnTimeout-157cd5b220a5c80d4ff8e0e70ac069bffd87a61252088146915e8726e5d9f147.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>

    {% if editable %}
    <script id="rendered-js">
      $(function () {
        $("#sortable tbody").sortable({
          cursor: "move",
          placeholder: "sortable-placeholder",
          helper: function (e, tr)
          {
            var $originals = tr.children();
            var $helper = tr.clone();
            $helper.children().each(function (index)
            {
              // Set helper cell sizes to match the original sizes
              $(this).width($originals.eq(index).width());
            });
            return $helper;
          } }).
        disableSelection();
      });
      //# sourceURL=pen.js
    </script>
    {% endif %}
  </body>
</html>
