[submodule "musicdaemon"]
	path = musicdaemon
	url = https://github.com/whiteblue3/apoweroftrance-musicdaemon.git
[submodule "django-accounts"]
	path = django-accounts
	url = https://github.com/whiteblue3/apoweroftrance-account.git
