[submodule "account"]
	path = account
	url = https://github.com/whiteblue3/apoweroftrance-account.git
[submodule "radio"]
	path = radio
	url = https://github.com/whiteblue3/apoweroftrance-radio.git
[submodule "upload"]
	path = upload
	url = https://github.com/whiteblue3/apoweroftrance-upload.git
[submodule "post"]
	path = post
	url = https://github.com/whiteblue3/apoweroftrance-post.git
[submodule "admin"]
	path = admin
	url = https://github.com/whiteblue3/apoweroftrance-admin.git
[submodule "musicdaemon"]
	path = musicdaemon
	url = https://github.com/whiteblue3/apoweroftrance-musicdaemon.git
[submodule "django-utils"]
	path = django-utils
	url = https://github.com/whiteblue3/apoweroftrance-django-utils.git
