[submodule "musicdaemon"]
	path = musicdaemon
	url = https://github.com/whiteblue3/apoweroftrance-musicdaemon.git
[submodule "django-utils"]
	path = django-utils
	url = https://github.com/whiteblue3/apoweroftrance-django-utils.git